@model Calculator.Web.Models.CalculatorModel

@if (!string.IsNullOrEmpty(Model.errorMessage))
{
    <div class="alert alert-danger" role="alert">
        @Model.errorMessage
    </div>
}

 <form method="post" asp-action="CalculateExpression">
    <div class="form-group">
        <div class="wrapper">
            <input class="screen" name="expression" value="@Model.Expression" placeholder="0" />
            <section class="calc-buttons">
                <div class="calc-button-row">
                    <button class="calc-button" type="submit" name="value" value="(">
                        (
                    </button>
                    <button class="calc-button" type="submit" name="value" value=")">
                        )
                    </button>
                    <button class="calc-button-pink" type="submit" name="value" value="clearLast">
                        &larr;
                    </button>
                    <button class="calc-button" type="submit" name="value" value="÷">
                        &divide;
                    </button>
                </div>

                <div class="calc-button-row">
                    <button class="calc-button" type="submit" name="value" value="7">
                        7
                    </button>
                    <button class="calc-button" type="submit" name="value" value="8">
                        8
                    </button>
                    <button class="calc-button" type="submit" name="value" value="9">
                        9
                    </button>
                    <button class="calc-button" type="submit" name="value" value="×">
                        &times;
                    </button>
                </div>

                <div class="calc-button-row">
                    <button class="calc-button" type="submit" name="value" value="4">
                        4
                    </button>
                    <button class="calc-button" type="submit" name="value" value="5">
                        5
                    </button>
                    <button class="calc-button" type="submit" name="value" value="6">
                        6
                    </button>
                    <button class="calc-button" type="submit" name="value" value="-">
                        &minus;
                    </button>
                </div>

                <div class="calc-button-row">
                    <button class="calc-button" type="submit" name="value" value="1">
                        1
                    </button>
                    <button class="calc-button" type="submit" name="value" value="2">
                        2
                    </button>
                    <button class="calc-button" type="submit" name="value" value="3">
                        3
                    </button>
                    <button class="calc-button" type="submit" name="value" value="+">
                        &plus;
                    </button>
                </div>

                <div class="calc-button-row">
                    <button class="calc-button-pink" type="submit" name="value" value="clear">
                        C
                    </button>
                    <button class="calc-button" type="submit" name="value" value="0">
                        0
                    </button>
                    <button class="calc-button" type="submit" name="value" value=".">
                        .
                    </button>
                    <button class="calc-button" type="submit" name="value" value="calculate">
                        &equals;
                    </button>
                </div>
            </section>
        </div>
    </div>
</form>